*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lexend+Deca&display=swap');

/*Variables root*/
:root{
  /*CORES*/
  --color-bg-header: linear-gradient(270deg, #3EA1DB 0%, #574AE8 100%);
  --white: #FFFFFF;
  --white-200: #F9F9F9;
  --gray: #717171;
  --gray-dark: #12202C;

  /*FONTS*/
  --inter: 'Inter', sans-serif;
  --lexend-deca: 'Lexend Deca', sans-serif;
}

/*Header*/
header{
  width: 100%;
  height: 12.5rem;
  background: var(--color-bg-header);
}

.content-header{
  max-width: 56.5rem;
  height: 100%;

  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-around;
  
  font-family: var(--lexend-deca);
  color: var(--white-200);
  /* border: 1px solid red; */
}


.info-header{
  display: flex;
  justify-content: space-between;
}

.info-header{
  font-family: var(--lexend-deca);
  font-weight: 400;
  font-size: 1.5rem;
}

form .search input{
  width: 100%;
  height: 4.0625rem;
  
  font-family: var(--inter);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white-200);

  border: none;
  border-radius: 5px;

  padding-left: 4rem;
  outline: none;

  background: rgba(255, 255, 255, 0.2);

}

form .search input::placeholder{
  color: var(--white-200);
  opacity: 0.5;
}

.search .icon-search{
  position: absolute;
  padding: 1.25rem;
}
/*END*/


/*CARDS*/ 


main .container{
  width: 100%;
  max-width: 56.5rem;  
  margin: 6.25rem auto;

  font-family: var(--lexend-deca);
}

.card-wrapper{
  width: 100%;
  
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.3);
  border-radius: .3125rem;
  
  padding: 1.5625rem;
  margin-bottom: 3.125rem;
}

.card-content .top {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.card-content .top .data{
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray);
}

.card-content .top .icon-heart{
  width: 1.5rem;
  height: 1.25rem;

  background-image: url(/assets/heart.svg);
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.card-content .text h2{
  padding-top: 1.375rem;

  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;

  color: var(--gray-dark);
}

.card-content .text p{
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.8rem;
  padding-top: .5rem;
  text-align: justify;
  color: #717171;
}

/*END*/


/*MOBILE*/
@media screen and (max-width: 1200px) {

 .content-header{
    max-width: 38rem;
  }

  .card-wrapper{
    max-width: 38rem;
    margin:3.25rem auto;
  }

}

@media screen and (max-width: 720px) {

  main{
    padding: 0.5rem;
  }

  .content-header{
    padding: 0 0.5rem ;
  }


}
/*END*/